#undoButton,
#defendButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#undoButton:focused,
#defendButton:focused {
    -fx-border-width: 0;
    -fx-border-radius: 0, 0;
}

#undoButton:pressed,
#defendButton:pressed {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}